.syntax--css {
  .syntax--keyword { color: @meaningful_orange; }

  .syntax--selector .syntax--entity:not(.syntax--punctuation)
  { color: @meaningful_green; }

  .syntax--property-name { color: @meaningful_lightBlue; }

  .syntax--string,
  .syntax--constant, .syntax--unit,
  .syntax--property-value { color: @meaningful_darkBlue; }
  .syntax--important {
    color: red;
  }
}
