.syntax--yaml {
  .syntax--string {
    color: @meaningful_lightGray !important;
  }

  // - foo:
  .syntax--tag {
    color: @meaningful_darkBlue;
  }

  // Level 1
  .syntax--tag:first-child {
    color: @meaningful_green;
  }

  // Level 2
  .leading-whitespace + .syntax--tag {
    color: @meaningful_lightBlue;
  }

  // Level 3
  .leading-whitespace + .leading-whitespace + .syntax--tag {
    color: @meaningful_orange;
  }

  // Level 4+
  .leading-whitespace + .leading-whitespace + .leading-whitespace + .syntax--tag {
    color: @meaningful_green;
  }
}
