@import "colors";

// Import user’s settings where they can modify colors
// ~ expansion does not work, @plugin is too complex,
// Proper settings is less convenient to the user and more work.
// The line between what’s stupid and what works is blurry
@import (reference, optional) "../../../../../../../../../.atom/styles.less";
@import (reference, optional) "../../../../../../../../.atom/styles.less";
@import (reference, optional) "../../../../../../../.atom/styles.less";
@import (reference, optional) "../../../../../../.atom/styles.less";
@import (reference, optional) "../../../../../.atom/styles.less";
@import (reference, optional) "../../../../.atom/styles.less";
@import (reference, optional) "../../../.atom/styles.less";
@import (reference, optional) "../../.atom/styles.less";
@import (reference, optional) "../.atom/styles.less";
@import (reference, optional) ".atom/styles.less";

.editor * {
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
}

.selection .region {
  background-color: @meaningful_nearBlack;
}

@import "code/index";
